<div class="row Humanist521BT-Light mx-auto center-section" style="overflow-x: hidden; overflow-y: scroll;">
    
    <div class="col-md-6">
        <a href="javascript&colon;history.go(-1)" class="back-btn" style="z-index: 9 !important; left:15px !important;"> BACK </a>

        <img src="https://www.icon4x4.com/files/large/0d8f36ce90bba1ed18a24113212f3048.jpg" alt="picture">
    </div>

    <div class="col-md-6 py-2 product-detail" style="line-height: 1.2; overflow-x: hidden;">
        <!-- <div style="position:fixed;right:40px;bottom:145px;">
            <a href="https://www.icon4x4.com/watches/specifications" class="text-white btn btn-purpose" style="border-radius:0px; background-color:#757562">GO TO SPECIFICATIONS</a>
        </div> -->
        <div class="mt-3">
            <div style="font-size: 13px;">
            {{ page.content }}
            </div>
            <nav class="sticky pull-right">
                <a href="/pages/watch-inspiration" class="text-white btn btn-purpose" style="border-radius:0px; background-color:#757562">GO TO INSPIRATION</a>
                <a href="/products/icon-watch" class="text-white btn btn-purpose" style="border-radius:0px; background-color:#757562">BUY NOW</a>
            </nav>
        </div>

        
    
    </div>

</div>